<div>
  <!-- header -->
  <nav class="navbar navbar-light bg-light ">
    <div class="container text-center p-2 ">
      <span class="mx-auto text-bold">Tricon Code Assesment</span>
    </div>
  </nav>
</div>

<!-- Question area -->
<div class="container h-100 mt-4">
  <div class="row mb-4">
    <div class="col">
      <div class="questions inline">
        <label class="questions-inline">Question :
        </label>
      </div>
      <div class="form-group-question" #questionsArea>
        <textarea class="form-control" rows="5" id="questions" style="display:block; height: 350px"></textarea>
      </div>
      <div class="input-group input-group-sm" style="padding-top: 10px">
        <div class="input-group-prepend">
          <label class="input-group-text" for="courses-select">Course</label>
        </div>
        <select *ngIf="(coursesArray$ | async) as courses; else loadingCourses;" class="courses-select"
          id="courses-select" #coursesSelect (change)="onChangeCourseMode($event)">
          <option *ngFor="let course of courses; let i = index" value="{{i}}"
            [selected]="initEditorOptions.courseMode===course.courseName">
            {{course.courseName}}
          </option>
        </select>
      </div>
      <div class="row mb-4" style="padding-top: 10px">
        <div class="col">
          <div class="custom-checkbox inline">
            <label class="checkbox-inline">
              <input type="checkbox" id="customCheck" value="checked" (click)="onInputSelect()" #myCheck> Sample Input
            </label>
          </div>
          <div class="form-group-1" #stdInputArea>
            <textarea class="form-control" rows="5" id="sampleStdIn" style="display:block"></textarea>
          </div>

          <div class="form-group-1" #stdOutputArea>
            <label>Sample Output</label>
            <textarea class="form-control" rows="5" id="sampleOutput" style="display:block"></textarea>
          </div>

          

        </div>
      </div>
      <br>
      <div class="col-lg-2 ">
        <button type="button" class="btn btn-primary btn-sm btn-block" (click)="beautifyContent()">
          Save problem
        </button>
      </div>
    </div>

  </div>
</div>

<div class="container h-100 mt-4">

  <!-- languages & theme -->
  <div class="row mb-4 justify-content-center mx-4">
    <!-- languages select -->
    <div class="col-auto col-lg-3 col-md-4 col-sm-6">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text" for="languages-select">Languages</label>
        </div>
        <select *ngIf="(languagesArray$ | async) as languages; else loadingLanguages;" class="languages-select"
          id="languages-select" #languagesSelect (change)="onChangeLanguageMode($event)">
          <option *ngFor="let language of languages; let i = index" value="{{i}}"
            [selected]="initEditorOptions.languageMode===language.lang">
            {{language.name}} ({{language.version}})
          </option>
        </select>
      </div>
    </div>

    <!-- toggle theme -->
    <div class="col-auto col-lg-3 col-md-4 col-sm-6">
      <div class="btn-group btn-group-toggle btn-group-sm w-100 mx-auto" data-toggle="buttons">
        <label *ngFor="let theme of supportedThemes" [ngClass]="{'active': theme===activatedTheme}"
          (click)="onChangeTheme(theme); activatedTheme=theme;" class="btn btn-secondary sudo-radio-btn">
          <input type="radio" name="{{theme}}" autocomplete="off" [checked]="theme===activatedTheme">
          <span>{{theme}}</span>
        </label>
      </div>
    </div>
  </div>

  <!-- the code editor -->
  <div class="row mb-4">
    <div class="col">
      <div class="code-editor" #codeEditor></div>
    </div>
  </div>

  <!-- custom input -->
  <div class="row mb-4">
    <div class="col">
      <div class="custom-checkbox inline">
        <label class="checkbox-inline">
          <input type="checkbox" id="customCheck" value="checked" (click)="onCustomSelect()" #myCheck> Custom Input
        </label>
      </div>
      <div class="form-group" #inputArea>
        <textarea class="form-control" rows="5" id="custom-input" style="display:block"></textarea>
      </div>
    </div>
  </div>

  <!-- run, clear & beautify buttons -->
  <div class="row mb-4 justify-content-center mx-4">
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" (click)="onRunContent()">
        Compile and Test
      </button>
      <!-- <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" [ngClass]="{'cant-click' : cantReachServer}"
          [disabled]="cantReachServer" (click)="onRunContent()">
          Run
        </button> -->
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" (click)="onClearContent()">
        Clear
      </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="beautifyContent()">
        Beautify
      </button>
    </div>
  </div>

  <!-- output box -->
  <div class="row mt-4">
    <div class="col">
      <div class="label-box border">
        <span class="mx-4 font-weight-light">Output</span>
      </div>
      <textarea class="form-control output" rows="6" disabled="true" aria-label="output-textarea" [value]="(output$)">
          </textarea>
    </div>
  </div>
</div>
